- name: Ensure netbox install directory exists
  ansible.builtin.file:
    path: "{{ netbox_install_dir }}"
    state: directory
    mode: '0755'

- name: Generate or load secrets
  ansible.builtin.include_tasks: secrets.yml

- name: Template the docker-compose file
  ansible.builtin.template:
    src: compose.yaml.j2
    dest: "{{ netbox_install_dir }}/docker-compose.yaml"
    mode: '0644'

- name: Template the .env file
  ansible.builtin.template:
    src: .env.j2
    dest: "{{ netbox_install_dir }}/.env"
    mode: '0644'

- name: Copy and set up configuration directory
  ansible.builtin.copy:
    src: config/
    dest: "{{ netbox_install_dir }}/config/"
    mode: '0755'

- name: Manage NetBox with Docker Compose
  community.docker.docker_compose_v2:
    project_src: "{{ netbox_install_dir }}"
